/* nav 的层叠样式*/

/* 引用 bootstrap 的层叠样式*/
@import url("https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css");

body {
	font: "Microsoft YaHei" 12px;
	color: #9b9b9b;
	background:url("../../../images/back-image-all.png");
}

a, a:link, a:visited {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

ul {
	margin:0px;
	padding: 0px;
	list-style: none;
}

li:hover, li:focus {
	color: black;
}

header {
	margin: 20px auto 0px auto;
	padding: 0;
	width: 960px;
}

header  ul {
	margin: 0;
	padding: 0;
	display: inline-block;
	list-style: none;
	float: right;
}

header  ul  li {
	display: inline-block;
	margin-left: 21px;
}

nav {
	width:960px;
	margin:37px auto 0px auto;
}

nav > ul > li{
	/*border:1px gray dashed;*/
	/*float: left;*/
	display: inline-table;
	text-align: center;
}

nav li  span {
	display: block;
}

nav li > ul {
	display: none;
}

#search {
	/*margin: 10px 0 0 0;*/
}