/* nav 的层叠样式*/

/* 引用 bootstrap 的层叠样式*/
@import url("https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css");

body {
	font: "Microsoft YaHei" 12px;
	color: #9b9b9b;
	background:url("../../../images/back-image-all.png");
}

a, a:link, a:visited {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

ul {
	margin:0px;
	padding: 0px;
	list-style: none;
}

li:hover, li:focus {
	color: black;
}

header {
	margin: 20px auto 0px auto;
	padding: 0;
	width: 960px;
}

header  ul {
	margin: 0;
	padding: 0;
	display: inline-block;
	list-style: none;
	float: right;
}

header  ul  li {
	display: inline-block;
	margin-left: 21px;
}

nav {
	width:960px;
	margin:37px auto 0px auto;
	display: table;
	/*border:1px dashed green;*/
}

nav ul {
	display: table-row;
	/*border:1px yellow dashed;*/
}

nav > ul > li{
	text-align: center;
	display: table-cell;
	position: relative;
	/*border:1px gray dashed;*/
}

nav li  span {
	display: block;
}

nav li > ul {
	display: none;
	position: absolute;
	padding: 1.4em auto 0 0.5em;
}

/* 鼠标经过显示二级导航栏 */
nav li:hover > ul {
	display: inherit;
}

nav li li {
	/*float: left;*/
	/*display: inline-block;*/
	padding-top: 10px;
}

/* 搜索框 */
#search-text {
	border:none;
	border-bottom: 1px solid;
	border-bottom-color: inherit;
	outline: none;
	width: 40px;
	/* 自动变长特效 */
	transition:width 0.8s;
	-moz-transition:width 0.8s; /* Firefox 4 */
	-webkit-transition:width 0.8s; /* Safari and Chrome */
	-o-transition:width 0.8s; /* Opera */
}

#search-text:hover, #search-text:focus {
	width:160px;
	color: black;
}

/* 让 input 标签添加发光效果,但仅可用于直接 CSS3 的浏览器*/
input:focus {
     box-shadow: 0 0 8px rgba(103, 166, 217, 1);
}
