<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
   <link href="../css/menu_2.css" rel="stylesheet" type="text/css">
</head>
<body>

    <!-- 开始，菜单栏 -->
    <div class="menu" id="menu">
     <div class="logo_div" id="logo">
        <div class="logo_img" id="logo_img">
            <a href="#">
                <img src="../images/logo.png" width="120" height="43" alt="logo-青花故事"/>
            </a>
        </div>
        <div class="zi_div" id="zi">
        	<ul>
               <li><a href="#" class="dengru_zhuce">登录_LOG_IN</a></li>
               <li><a href="#" class="dengru_zhuce">注册_REGIST</a></li>
           </ul>
       </div>
   </div>
</div>
<div class="zhuti" id="xiala_leibiao">
 <ul id="caidan">
   <li><a href="index.html">首页<br>
    <span>INDEX</span><br />
    <img src="../images/xian.png" alt=""/></a></li>
    <li  onMouseOver="show_div('black_back')" onMouseOut="close_div('black_back')"><a href="about_us.html">公司介绍<br>
        <span>ABOUT US</span><br />
        <img src="../images/xian.png" alt=""/>
        <!-- 二级菜单 -->
        <ul>
           <li>公司架构</li>
           <li>团队建设</li>
           <li>公司历史</li>
           <li>愿景与展望</li>
       </ul>
   </a></li>
   <li><a href="news_1.html">最新资讯<br>
    <span>NEWS</span><br />
    <img src="../images/xian.png" alt=""/></a></li>
    <li  onMouseOver="show_div('black_back')" onMouseOut="close_div('black_back')"><a href="product_1.html">产品中心<br>
        <span>PRODUCT</span><br />
        <img src="../images/xian.png" alt=""/></a>
        <!-- 二级菜单 -->
        <ul>
           <li><a href="product_4.html">旅游</a></li>
           <li><a href="product_4.html">家居</a></li>
           <li><a href="product_4.html">日用</a></li>
           <li><a href="product_4.html">服务</a></li>
       </ul>
   </li>
   <li  onMouseOver="show_div('black_back')" onMouseOut="close_div('black_back')"><a href="join_us.html">连锁加盟<br>
    <span>JOIN US</span><br />
    <img src="../images/xian.png" alt=""/></a>
    <!-- 二级菜单 -->
    <ul>
       <li><a href="join_us_2.html">店面展示</a></li>
       <li><a href="join_us_3.html">加盟优势</a></li>
       <li><a href="join_us_5.html">加盟流程</a></li>
       <li><a href="join_us_6.html">在线申请</a></li>
   </ul>
</li>
<li><a href="culture_&_life.html">文化与生活<br>
    <span>CULTURE &amp; LIFE</span><br />
    <img src="../images/xian.png" alt=""/></a></li>
    <li  onMouseOver="show_div('black_back')" onMouseOut="close_div('black_back')"><a href="member_1.html">会员中心<br>
        <span>MEMBER</span></a><br />
        <img src="../images/xian.png" alt=""/>
        <!-- 二级菜单 -->
        <ul>
           <li><a href="member_2.html">注册</a></li>
           <li><a href="member_3.html">登陆</a></li>
       </ul>
   </li>
   <li><a href="1_storys.html">旅游服务平台<br>
    <span>1 STORYS</span><br />
    <img src="../images/xian.png" alt=""/></a></li>
    <li><a href="contact_us.html">联系我们<br>
        <span>CONTACT US</span><br />
        <img src="../images/xian.png" alt=""/></a></li>
        <li  onMouseOver="show_div('black_back')" onMouseOut="close_div('black_back')"><a href="online_shop.html">线上商城<br>
            <span>ONLINE SHOP</span><br />
            <img src="../images/xian.png" alt=""/></a>
            <!-- 二级菜单 -->
            <ul>
               <li><a href="online_shop.html">淘宝</a></li>
               <li><a href="online_shop.html">天猫</a></li>
               <li><a href="online_shop.html">京东</a></li>
           </ul>
       </li>
       <li>
       </li>
   </ul>
</div>
<div class="black_back_2_div"></div>
<div id="black_back" class="black_back_div"></div>
<!-- </div> -->
<!-- 结束，菜单栏 -->


</body>
</html>