<!DOCTYPE html>
<html>
<head>
	<title>菜单栏</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/nav.css">
</head>
<body>
<!-- 网页头 -->
<header>
		<a href=""><img src="" alt="公司标志" /></a>
		<ul>
			<li>	<a href="">登录/LOGIN</a>	</li>
			<li>	<a href="">注册/REGIST</a>	</li>
		</ul>
</header>

<!-- 菜单栏 -->
<nav>
      <ul>
        <li class="start">
          <a href="index.html" >首页<span>INDEX</span>
            <ul>
              <li></li>
            </ul>
          </a>
        </li>
        <li>
          <a href="about_us.html" >公司介绍<span>ABOUT US</span>
            <ul>
              <li><a href="#">公司架构</a></li>
              <li><a href="#">团队建设</a></li>
              <li><a href="#">公司历史</a></li>
              <li><a href="#">愿景与展望</a></li>
            </ul>
          </a>
        </li>
        <li>
          <a href="news_1.html" >最新资讯<span>NEWS</span>
            <ul>
              <li></li>
            </ul>
          </a>
        </li>
        <li>
          <a href="product_1.html" >产品中心<span>PRODUCT</span>
            <ul>
              <li></li>
            </ul>
          </a>
        </li>
        <li>
          <a href="join_us.html" >连锁加盟<span>JOIN US</span>
            <ul>
              <li></li>
            </ul>
          </a>
        </li>
        <li>
          <a href="culture_&_life_1.html" >文化与生活<span>JCULTURE &amp; LIFE</span>
            <ul>
              <li></li>
            </ul>
          </a>
        </li>
        <li>
          <a href="member_1.html" >会员中心<span>MEMBER</span>
            <ul>
              <li></li>
            </ul>
          </a>
        </li>
        <li>
          <a href="1_storys.html" >旅游服务平台<span>1 STORYS</span>
            <ul>
              <li></li>
            </ul>
          </a>
        </li>
        <li>
          <a href="contact_us.html" >联系我们<span>CONTACT US</span>
            <ul>
              <li></li>
            </ul>
          </a>
        </li>
        <li class="last">
          <a href="online_shop.html" >线上商城<span>ONLINE SHOP</span>
            <ul>
              <li></li>
            </ul>
          </a>
        </li>
        <li>
          <form action="#" method="get" target="_top">
            <label>
              <input type="search" id="search-text" name="search-text" 
              placeholder="Search in China Story" />
            </label>
          </form>
        </li>
      </ul>
  </nav>

</body>
</html>